body{
    display: flex;
    background-color: #00cccc;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
.main{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin : 0 auto;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #FFFFFE;
    width: 300px;
    height: 500px;
    padding: 1rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.logo{
    display: flex;
    justify-content: flex-end;
    color: lightgrey;
}
.display{
    display: grid;
    height: 20%;
    align-items: flex-end;
    border: 1px solid grey;
    border-radius: 10px;
    justify-content: flex-end;
    padding: 1rem;
    background-color: lightblue;;
}

.current {
    font-size: 2rem;
}
.previous{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.buttons-menu{
    display: flex;
    height: 10%;
    gap: 1rem;

}
.buttons-menu button{
    flex: 1;
    background-color: darkorange;
    border: 1px solid grey;
    border-radius: 10px;
}
.grid{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.buttons-grid-container{
    flex: 1;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.operator{
    margin: 5px;
    border: 1px solid orange;
    border-radius: 10px;
    display: grid;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
}
.grid-item{
    margin: 5px;
    border: 1px solid blue;
    border-radius: 10px;
    display: grid;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
}
.grid-item:hover, .operator:hover{
    background-color: rgba(255, 255 ,255, 0.50);
}
.grid-item:active, .operator:active{
    background-color: orange;
}
